/* b: #009CBF o: #F75F00 g: #00A388 --tint-1: #333; --tint-2: #666; --tint-3: #999; --tint-4: #ccc; --tint-5: #e6e6e6; --tint-6: #f2f2f2; */
@font-face {
 font-family: ABCSansNovaRegular;
 src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
 font-family: ABCSansNovaBlack;
 src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
 font-family: ABCSansNovaLight;
 src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  color: #333;
  box-sizing: border-box;
}
body {
  margin: 0 0 0.5rem 0;
  overflow: hidden;
}
#container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column;
}
#header {
  font-family: ABCSansNovaBlack, "Arial Black", Helvetica, sans-serif;
  font-size: 1.25rem;
  margin-bottom: .75rem;
  text-align: center;
}
#footer {
  margin-top: .75rem;
  font-size: .9rem;
  color: #666;
}
#footer a, #footer a:visited {
  color: #248BC9;
  text-decoration: none;
}
#footer a:hover {
  color: #F75F00;
}
#viz, #chart, #map {
  height: 100%;
}
@media only screen and (max-width: 500px) {
  #header {
    font-size: 1.1rem;
    margin-bottom: .5rem;
  }
  #footer {
    margin-top: .5rem;
    font-size: .8rem;
  }
}
